.App {
  text-align: center;
  background-color: #ff5400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px; /* Espacio para el logo fijo */
}

.logo-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ff5400;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.logo {
  width: 150px;
  margin-bottom: 0; /* Elimina el margen inferior */
}

@media (max-width: 768px) {
  .App {
    padding-top: 100px; /* Reduce el espacio para el logo en pantallas más pequeñas */
  }

  .logo {
    width: 120px; /* Reduce el tamaño del logo en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .App {
    padding-top: 80px; /* Reduce aún más el espacio para el logo en pantallas muy pequeñas */
  }

  .logo {
    width: 100px; /* Reduce aún más el tamaño del logo en pantallas muy pequeñas */
  }
}

