.raffle-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.raffle-editor-items {
    width: 100%;
}
.raffle-editor-numbers,
.raffle-editor-item {
    width: 100%;
    margin-bottom: 20px;
}

.raffle-editor-numbers h2,
.raffle-editor-item h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.raffle-editor-textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.raffle-editor-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.raffle-editor-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .raffle-editor-container {
        padding: 15px;
    }

    .raffle-editor-textarea {
        height: 80px;
    }

    .raffle-editor-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .raffle-editor-container {
        padding: 10px;
    }

    .raffle-editor-textarea {
        height: 60px;
    }

    .raffle-editor-button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

@media (min-width: 769px) {
    .raffle-editor-container {
        min-width: 650px;
    }
}